.Product {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 50%;
}

.Product p:hover {
    background: pink;
}

.Product #NutInfo {
    background: lightblue;
}

.Product #NutInfo p:hover {
    background: red;
}