.Product {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100%;
}

.Container {
    width: 100%;
}

.Container tr {
    float: left;
}

.Container tr::after {
    padding: 10%;
}

.Container tr::before {
    padding: 10%;
}

.Product p:hover {
    background: pink;
}

.Product #NutInfo p {
    background: blue;
}

.Product #NutInfo p:hover {
    background: red;
}