html,
body,
#root,
.Landing_Root,
.Landing_Content {
    height: 100%;
}

::-webkit-scrollbar {
    display: none;
}


/* ----  LANDING CONTENT ---- */

.Landing_Shop {
    box-shadow: 1 2px 5px 0 black;
    -webkit-box-shadow: 0 20px 5px 10px black;
    position: relative;
    .Title {
        label {
            float: right;
        }
        input {
            float: right;
            font-size: 1rem;
            width: 10rem;
            margin: .5rem .5rem 0rem 0rem;
            height: 2rem;
            background: slateblue;
            color: white;
            border: none;
        }
        background: slateblue;
        text-align: center;
        font-size: 2rem;
    }
    .itemContainer {
        overflow-y: scroll;
        background: lightslategrey;
        width: 100%;
        height: 95%;
        ul {
            list-style: none;
            li {
                display: inline-block;
                padding-bottom: 1rem;
            }
        }
        .item {
            overflow: hidden;
            background: slateblue;
            width: 15rem;
            height: 15rem;
            margin: 1rem 0 0 1rem;
            .icon {
                img {
                    width: 10rem;
                }
                margin:0.2rem 0rem 0rem 2.5rem;
            }
            .item_title {
                p:first-child {
                    color: white;
                    font-size: 20px;
                    margin-left: 5rem;
                }
                color: blue;
            }
            .item_nut {
                display: flex;
                background: white;
            }
        }
    }
    width: 85%;
    margin: 0rem 0rem 0rem 15rem;
    height: 95%;
}


/* ----  LANDING SHOP END ---- */


/* ----  LANDING SHOP  START ---- */

.Landing_Content {
    position: relative;
    .Container {
        box-shadow: 1 2px 5px 0 black;
        -webkit-box-shadow: 0 10px 10px 1px black;
        // overflow-y: scroll;
        // overflow-x: hidden;
        .Title {
            margin: 0rem 0rem 0rem;
            background: slateblue;
            text-align: center;
            h1 {
                color: white;
            }
        }
        background: #6868923f;
        float: left;
        margin: 5rem 1rem 1rem 10rem;
        height: 75%;
        .LF {
            float: left;
            margin: 5rem 1rem 1rem 10rem;
            height: 75%;
        }
        width: 40rem;
    }
    .Button {
        position: absolute;
        bottom: 4rem;
        right: 4rem;
        width: 30px;
        height: 30px;
        Button {
            color: red;
        }
    }
}


/* ----  LANDING CONTENT  END ---- */

.itemContainer {
    overflow-y: scroll;
    height: 90%;
    ol {
        list-style: none;
        li {
            display: flex;
            padding-bottom: 1rem;
        }
    }
}

.item {
    box-shadow: 1 2px 5px 0 black;
    -webkit-box-shadow: 0 3px 4px 0px black;
    height: 3rem;
    background: lightgoldenrodyellow;
    .icon {
        img {
            width: 2.5rem;
        }
        margin:0.2rem 0rem 0rem 0.2rem;
        float: left;
    }
    .item_title {
        width: 10rem;
        float: left;
        margin: 0rem 0rem 0rem 1rem;
        font-size: 10px;
        color: red;
    }
    .item_nut {
        overflow: hidden;
        float: right;
        width: 22rem;
        height: 100%;
        padding-top: 0.2rem;
        background: darkslategray;
        ul {
            margin-left: -2rem;
            list-style: none;
            li {
                border-left: 1px solid black;
                float: left;
                display: inline;
                background: rgb(248, 244, 244);
                color: red;
                margin-top: 0.4rem;
                padding: 0.1rem 0.3rem;
                p {
                    color: black;
                }
            }
             :hover {
                background: rgba(255, 255, 255, 0.308);
                color: white;
            }
        }
        .danger {
            background: rgba(190, 16, 16, 0.719);
            p {
                color: black;
            }
        }
        .nearLimit {
            background: lightcoral;
        }
    }
}