$main: red;
$primary:rgba(white, 0.5);
$secondary: #e91e63;
$card_header:linear-gradient(60deg, #ab47bc, #8e24aa);
$card_header_flip:linear-gradient(60deg, #8e24aa, #ab47bc);
$card_header_text:white;
$card_social_text:white;
$card_highlight:white;
$card_content:#e91e63;
$input_line: white;
$floating_Button:linear-gradient(60deg, #ab47bc, #8e24aa);
$floating_Button_hover: #ab47bc; // $card_content:linear-gradient(60deg, #ab47bc, #8e24aa);
// $card_content:linear-gradient(180deg, #ab47bc, #ab47bc, #873b94, rgb(6, 57, 102));
$card_content_text: black;
$shadow: black;